<div mat-dialog-content
  *ngIf="user.ud.getValue()!==undefined">
  <div *ngIf="user.ud.getValue()!==null">
    <div *ngFor="let e of errors">
      <mat-icon color="warn">error</mat-icon> {{e.message}}
    </div>
    <form (ngSubmit)="write()">
      <mat-form-field>
        <input matInput
          placeholder="タイトル"
          [(ngModel)]="title"
          name="title">
      </mat-form-field>
      <div>
        <button type="submit"
          mat-raised-button>新規作成</button>
      </div>
    </form>
  </div>
  <hr>
  <div>
    <app-topic-list-item *ngFor="let t of children"
      [topic]="t"></app-topic-list-item>
  </div>
</div>