<div class="fab-main">
  <button md-mini-fab *ngIf="ud.isToken|async" (click)="favo()">
        <md-icon>{{isFavo?'star':'star_border'}}</md-icon>
    </button>
  <button md-mini-fab (click)="detail()">
        <md-icon>keyboard_arrow_up</md-icon>
    </button>
  <button md-mini-fab (click)="autoScrollMenu()">
        <md-icon>play_circle_outline</md-icon>
        </button>
  <button md-fab *ngIf="ud.isToken|async" (click)="writeMenu()">
        <md-icon>edit</md-icon>
    </button>
</div>
<div *ngIf="topic" class="container">
  <div>
    <button (click)="readNew()" md-raised-button>最新</button>
  </div>
  <div>
    <at-res #resE *ngFor="let r of reses" [res]="r" (update)="updateRes($event)"></at-res>
  </div>
  <div>
    <button (click)="readOld()" md-raised-button>前</button>
  </div>
</div>