<md-card>
  <form (ngSubmit)="search()">
    <div>
      <md-input-container>
        <input md-input placeholder="カテゴリ" [(ngModel)]="category" name="category">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="タイトル" [(ngModel)]="title" name="title">
      </md-input-container>
    </div>
    <div>
      <button type="submit" md-raised-button>検索</button>
    </div>
  </form>
</md-card>
<div>
  <button md-raised-button [routerLink]="['/topic/write']" *ngIf="ud.isToken|async">
    <md-icon>edit</md-icon>
  </button>
  <button md-raised-button (click)="update()">
    <md-icon>refresh</md-icon>
  </button>
</div>
<div>
  <at-topic-list-item *ngFor="let t of topics" [topic]="t"></at-topic-list-item>
</div>
<div *ngIf="count===limit">
  <button (click)="more()" md-raised-button>もっと</button>
</div>