<md-card *ngIf="ud.isToken|async" class="container">
    <form (ngSubmit)="write()">
        <div class="alert alert-danger" *ngIf="errorMsg!==null">
            <md-icon>error</md-icon> {{errorMsg}}
        </div>
        <div class="form-group">
            <label>タイトル</label>
            <input type="text" class="form-control" [(ngModel)]="title" name="title">
        </div>
        <div class="form-group">
            <label>カテゴリ</label>
            <input type="text" class="form-control" [(ngModel)]="category" name="category">
        </div>
        <div class="form-group">
            <label>本文</label>
            <textarea class="form-control" [(ngModel)]="text" name="text"></textarea>
            <div [innerHTML]="text|md" class="well"></div>
        </div>
        <button type="submit" md-button>書き込む</button>
    </form>
</md-card>
<md-card *ngIf="ud.notToken|async" class="container">
    ログインしないと書き込めません
</md-card>