<form (ngSubmit)="ok()">
    <div *ngIf="errorMsg!==null">
        <md-icon>error</md-icon> {{errorMsg}}
    </div>
    <md-input-container>
        <input md-input placeholder="タイトル" [(ngModel)]="title" name="title">
    </md-input-container>
    <md-input-container>
        <input md-input placeholder="カテゴリ" [(ngModel)]="category" name="category">
    </md-input-container>
    <md-textarea [(ngModel)]="text" name="text"></md-textarea>
    <div [innerHTML]="text|md"></div>
    <button type="submit" md-button>OK</button>
</form>