<form (ngSubmit)="ok()" *ngIf="ud!==null&&ud!==undefined">
  <div *ngIf="errorMsg!==null">
    <md-icon>error</md-icon> {{errorMsg}}
  </div>
  <div>
    <md-input-container>
      <input md-input placeholder="タイトル" [(ngModel)]="title" name="title">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input md-input placeholder="カテゴリ" [(ngModel)]="category" name="category">
    </md-input-container>
  </div>
  <md-textarea [(ngModel)]="text" name="text"></md-textarea>
  <div [innerHTML]="text|md"></div>
  <div>
    <button type="submit" md-raised-button>OK</button>
  </div>
</form>