<div *ngIf="user.ud.getValue()!==undefined">
  <div>
    <button mat-icon-button
      (click)="detail()">
      <mat-icon>{{isDetail?'arrow_drop_up':'arrow_drop_down'}}</mat-icon>
    </button> {{history.date|atDate}}
    <a (click)="hashClick()">HASH:{{history.hash}}</a>
  </div>
  <dl *ngIf="isDetail">
    <dt>タイトル</dt>
    <dd>{{history.title}}</dd>
    <dt>カテゴリ</dt>
    <dd>
      <a class="app-link"
        [routerLink]="['/topic/search']"
        [queryParams]="{title:'',tags:history.tags.join(' ')}">{{history.tags.join(',')}}</a>
    </dd>
    <dt>本文</dt>
    <dd>
      <app-md [text]="history.text"></app-md>
    </dd>
  </dl>
  <div *ngIf="hashReses.size!==0">
    <app-res *ngFor="let r of hashReses"
      [res]="r"
      (update)="updateRes($event)"></app-res>
  </div>
</div>