<div *ngIf="user.ud!==undefined">
  <div>
    <button md-icon-button (click)="detail()">
      <md-icon>{{isDetail?'arrow_drop_up':'arrow_drop_down'}}</md-icon>
    </button> {{history.date|atDate}}
    <a href="javascript:void(0);" (click)="hashClick()">HASH:{{history.hash}}</a>
  </div>
  <dl *ngIf="isDetail">
    <dt>タイトル</dt>
    <dd>{{history.title}}</dd>
    <dt>カテゴリ</dt>
    <dd><a [routerLink]="['/topic/search']" [queryParams]="{title:'',category:history.category.join('/')}">{{history.category.join('/')}}</a></dd>
    <dt>本文</dt>
    <dd>
      <div [innerHTML]="history.mdtext"></div>
    </dd>
  </dl>
  <div *ngIf="hashReses.size!==0">
    <app-res *ngFor="let r of hashReses" [res]="r" (update)="updateRes($event)"></app-res>
  </div>
</div>