<span *ngFor="let t of tags"
  class="tag">
  <a class="app-link"
    (click)="del(t)">x</a>
  {{t}}
</span>
<mat-form-field>
  <input matInput
    [formControl]="stateCtrl"
    placeholder="タグ"
    (blur)="ok()"
    [(ngModel)]="tag"
    (keypress)="tagChange($event)"
    [matAutocomplete]="auto"
    (ngModelChange)="change()">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let l of filteredStates|async"
    [value]="l.name"
    (onSelect)="select()">
    {{l.name}}({{l.count}})
  </mat-option>
</mat-autocomplete>