<app-page>
  <mat-card *ngIf="user.ud.getValue()!==null&&user.ud.getValue()!==undefined">
    <form (ngSubmit)="write()">
      <div *ngFor="let e of errors">
        <mat-icon color="warn">error</mat-icon> {{e.message}}
      </div>
      <div>
        <mat-select placeholder="種別"
          [(ngModel)]="type"
          name="type">
          <mat-option [value]="'one'">
            単発
          </mat-option>
          <mat-option [value]="'normal'">
            通常
          </mat-option>
        </mat-select>
      </div>
      <div>
        <mat-form-field>
          <input matInput
            placeholder="タイトル"
            [(ngModel)]="title"
            name="title">
        </mat-form-field>
      </div>
      <div>
        <app-tags-input name="tags"
          [(ngModel)]="tags"></app-tags-input>
      </div>
      <app-md-editor [(ngModel)]="text"
        name="text"></app-md-editor>
      <div>
        <button type="submit"
          mat-raised-button>書き込む</button>
      </div>
    </form>
  </mat-card>
  <mat-card *ngIf="user.ud.getValue()===null">
    ログインしないと書き込めません
  </mat-card>
</app-page>