<div *ngIf="user.ud!==null&&user.ud!==undefined">
  <md-tab-group>
    <md-tab label="トピック">
      <button md-icon-button (click)="update()">
        <md-icon>refresh</md-icon>
      </button>
      <app-topic-list-item *ngFor="let t of tfavo" [topic]="t"></app-topic-list-item>
    </md-tab>
    <md-tab label="板">
      <md-card>
        <md-list>
          <md-list-item *ngFor="let t of user.ud.storage.tagsFavo">
            <a [routerLink]="['/topic/search']" [queryParams]="{tags:t.join(' ')}">
              {{t.size!==0?t.join(','):'(なし)'}}
            </a>
            <button (click)="delTags(t)" md-icon-button>
              <md-icon>delete</md-icon>
            </button>
          </md-list-item>
        </md-list>
      </md-card>
    </md-tab>
  </md-tab-group>
</div>
<md-card *ngIf="user.ud===null&&user.ud!==undefined">
  ログインしないと表示出来ません。
</md-card>