<md-dialog-content *ngIf="ud!==null&&ud!==undefined">
  <form (ngSubmit)="ok()">
    <div *ngIf="errorMsg!==null">
      <md-icon>error</md-icon> {{errorMsg}}
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="名前" [(ngModel)]="name" name="name">
      </md-input-container>
      <md-select placeholder="プロフ" [(ngModel)]="profile" name="profile">
        <md-option [value]="null" selected>
          なし
        </md-option>
        <md-option *ngFor="let p of ud.profiles" [value]="p.id">
          ●{{p.id}} {{p.name}}
        </md-option>
      </md-select>
    </div>
    <div>
      <button md-raised-button type="button" (click)="aa()">AA</button>
    </div>
    <app-md-editor [(ngModel)]="text" name="text" (keypress)="key($event)"></app-md-editor>
    <div>
      <button type="submit" md-raised-button>書き込む</button>
    </div>
  </form>
</md-dialog-content>
<md-dialog-content *ngIf="ud===null">
  ログインしないと書き込めません
</md-dialog-content>