<div *ngIf="topic&&user.ud.getValue()!==undefined" class="fab-main">
  <button md-mini-fab (click)="openData()">
      <md-icon>keyboard_arrow_up</md-icon>
    </button>
  <button md-mini-fab *ngIf="user.ud.getValue()!==null" (click)="favo()">
        <md-icon>{{isFavo?'star':'star_border'}}</md-icon>
    </button>
  <button md-mini-fab (click)="autoScrollMenu()">
        <md-icon>play_circle_outline</md-icon>
        </button>
  <button md-fab *ngIf="user.ud.getValue()!==null&&topic.active" (click)="writeMenu()">
        <md-icon>edit</md-icon>
    </button>
</div>
<div *ngIf="topic" [ngClass]="{contents:(rs.size|async)==='lg'}">
  <div class="sidebar-contents" *ngIf="(rs.size|async)==='lg'">
    <div *ngIf="user.ud.getValue()!==null" class="sidebar-fixed">
      <h1>お気に入りトピ</h1>
      <app-topic-favo [simple]="true"></app-topic-favo>
    </div>
  </div>
  <div [ngClass]="{'main-contents':(rs.size|async)==='lg'}" class="main-column">
    <md-card class="header">
      <md-icon *ngIf="topic.type==='one'" class="icon">looks_one</md-icon>
      <span class="subject">{{topic.title}}</span>
    </md-card>
    <div #iScroll=infiniteScroll appInfiniteScroll (scrollTop)="readOld()" (scrollBottom)="readNew()" (elementChange)="scrollSave($event.bottom)">
      <app-res #resE *ngFor="let r of reses|reverse" [res]="r" (update)="updateRes($event)"></app-res>
    </div>
  </div>
</div>