//ツールボックス
.topic-tool {
    position: fixed;
    width: 80vw;
    z-index: 50;
    right: 10vw;
}

//一番外側
.contents{
    display: flex;
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-top: 59px;
}

//一番外側、幅が広い場合は2カラム
.two-column{
    .sidebar-column{
        overflow-y: auto;
        width: 30vw;
        -webkit-overflow-scrolling: touch;
    }
}

.main-column{
    flex: 1;
    display: flex;
    flex-direction: column;

    .header{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 6px;
        height: 24px;
        background-color: #aaf;

        .icon{
            line-height:16px;
        }

        .subject{
            font-size: 16px;
            font-weight: bold;
        }
    }

    .reses{
        flex: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.fab-main {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}