<div *ngIf="topic&&user.ud.getValue()!==undefined" class="fab-main">
  <button md-mini-fab *ngIf="user.ud.getValue()!==null" (click)="favo()">
        <md-icon>{{isFavo?'star':'star_border'}}</md-icon>
    </button>
  <button md-mini-fab (click)="autoScrollMenu()">
        <md-icon>play_circle_outline</md-icon>
        </button>
  <button md-fab *ngIf="user.ud.getValue()!==null&&topic.active" (click)="writeMenu()">
        <md-icon>edit</md-icon>
    </button>
</div>
<div *ngIf="topic" [ngClass]="{contents:(rs.size|async)==='lg'}">
  <div class="sidebar-contents" *ngIf="(rs.size|async)==='lg'">
    <ng-container *ngIf="user.ud.getValue()!==null">
      <h1>お気に入りトピ</h1>
      <app-topic-favo [simple]="true"></app-topic-favo>
    </ng-container>
  </div>
  <div [ngClass]="{'main-contents':(rs.size|async)==='lg'}" class="main-column">
    <app-topic-data (update)="update($event)" [topic]="topic"></app-topic-data>
    <div #iScroll=infiniteScroll appInfiniteScroll (scrollTop)="readNew()" (scrollBottom)="readOld()" (topElementChange)="scrollSave($event)">
      <app-res #resE *ngFor="let r of reses" [res]="r" (update)="updateRes($event)"></app-res>
    </div>
  </div>
</div>