.topic-tool {
    position: fixed;
    width: 80vw;
    z-index: 50;
    right: 10vw;
}

.topic-tool-open {
    height: 60vh;
    overflow: auto;
}

.tool-button {
    display: inline-block;
    right: 0px;
}

.fab-main {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.title{
    font-size:36px;
}

.contents{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.sidebar-contents{
    display: table-cell;
    width: 30%;
    padding-right: 4px;
}

.main-contents{
    display: table-cell;
    width:70%;
    padding-left: 4px;
}
