<div *ngIf="topic&&user.ud.getValue()!==undefined" class="fab-main">
  <button md-fab *ngIf="user.ud.getValue()!==null&&topic.active" (click)="writeMenu(null)">
        <md-icon>edit</md-icon>
    </button>
</div>
<div *ngIf="topic&&user.ud.getValue()!==undefined" [ngClass]="{'two-column':(rs.size|async)==='lg','contents':true}">
  <div class="sidebar-column" *ngIf="(rs.size|async)==='lg'&&user.ud.getValue()!==null">
    <app-topic-favo [simple]="true"></app-topic-favo>
  </div>
  <div class="main-column">
    <md-card class="header">
      <div class="subject">
        <md-icon *ngIf="topic.type==='fork'" class="icon">call_split</md-icon>
        <md-icon *ngIf="topic.type==='one'" class="icon">looks_one</md-icon>
        {{topic.title}}
      </div>
      <div class="tool">
        <button md-icon-button (click)="openData()">
      <md-icon>keyboard_arrow_down</md-icon>
    </button>
    <button md-icon-button (click)="openFork()" *ngIf="topic.type==='normal'">
      <md-icon>call_split</md-icon>
    </button>
    <button md-icon-button *ngIf="user.ud.getValue()!==null&&topic.type==='normal'" (click)="openEdit()">
      <md-icon>settings</md-icon>
    </button>
        <button md-icon-button *ngIf="user.ud.getValue()!==null" (click)="favo()">
        <md-icon>{{isFavo?'star':'star_border'}}</md-icon>
    </button>
        <button md-icon-button (click)="autoScrollMenu()">
        <md-icon>play_circle_outline</md-icon>
        </button>
      </div>
    </md-card>
    <div class="reses" #scrollEl [scrollEl]="scrollEl" #iScroll=infiniteScroll appInfiniteScroll (scrollTop)="readOld()" (scrollBottom)="readNew()"
      (elementChange)="scrollSave($event.bottom)">
      <app-res (reply)="writeMenu($event)" #resE *ngFor="let r of reses|reverse" [res]="r" (update)="updateRes($event)"></app-res>
    </div>
  </div>
</div>