<div *ngIf="user.ud.getValue()!==null&&user.ud.getValue()!==undefined">
  <ng-container *ngIf="tfavo&&tfavo.size!==0">
    <button mat-icon-button
      (click)="update()">
      <mat-icon>refresh</mat-icon>
    </button>
    <app-topic-list-item *ngFor="let t of tfavo"
      [topic]="t"
      [simple]="simple">
    </app-topic-list-item>
  </ng-container>
  <mat-card *ngIf="tfavo&&tfavo.size===0">
    お気に入りトピックがありません。
    <br>
    <a class="app-link"
      [routerLink]="['/topic/search']">トピック一覧</a>
  </mat-card>
</div>
<mat-card *ngIf="user.ud.getValue()===null&&user.ud.getValue()!==undefined">
  ログインしないと表示出来ません。
</mat-card>