<md-card>
  <form *ngIf="ud" (ngSubmit)="ok()">
    <div *ngIf="errorMsg!==null">
      <md-icon>error</md-icon> {{errorMsg}}
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="名前" [(ngModel)]="name" name="name">
      </md-input-container>
    </div>
    <md-textarea [(ngModel)]="text" name="text"></md-textarea>
    <div [innerHTML]="text|md"></div>
    <div>
      <button type="submit" md-raised-button>OK</button>
    </div>
  </form>
  <div *ngIf="!ud">
    ログインしないとプロフィール管理は出来ません
  </div>
</md-card>