<mat-card *ngIf="user.ud.getValue()">
  <form (ngSubmit)="ok()">
    <div *ngFor="let e of errors">
      <mat-icon color="warn">error</mat-icon> {{e.message}}
    </div>

    <mat-form-field>
      <input matInput
        type="text"
        placeholder="ID"
        [(ngModel)]="sn"
        name="sn">
    </mat-form-field>
    <mat-form-field>
      <input matInput
        type="text"
        placeholder="新しいパスワード"
        [(ngModel)]="newPass"
        name="new-pass">
    </mat-form-field>
    <mat-form-field>
      <input matInput
        type="text"
        placeholder="現在のパスワード"
        [(ngModel)]="oldPass"
        name="old-pass">
    </mat-form-field>

    <button type="submit"
      mat-button>OK</button>
  </form>
</mat-card>