<div *ngIf="ud.isToken|async" class="panel panel-default">
  <div class="panel-body">
    <form (ngSubmit)="ok()">
      <div class="alert alert-danger" *ngIf="errorMsg!==null">
        <md-icon>error</md-icon> {{errorMsg}}
      </div>
      <div class="form-group">
        <label>名前</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
      </div>
      <div class="form-group">
        <label>本文</label>
        <textarea class="form-control" [(ngModel)]="text" name="text"></textarea>
        <div [innerHTML]="text|md" class="well"></div>
      </div>
      <button type="submit" md-button>OK</button>
    </form>
  </div>
</div>
<div *ngIf="ud.notToken|async">
  ログインしないとプロフィール管理は出来ません
</div>