<md-card *ngIf="auth">
  <md-list>
    <md-list-item *ngFor="let t of tokens">
      <h3 md-line>{{clients.get(t.client).name}}</h3>
      <span class="client-url" md-line>{{clients.get(t.client).url}}</span>
      <div md-line>
        <button type="button" md-button (click)="active(t)">
          {{t.active?'有効':'無効'}}
        </button>
        <button type="button" md-button (click)="key(t)">
          <md-icon>update</md-icon>
        </button>
      </div>
    </md-list-item>
  </md-list>
</md-card>