<mat-card *ngIf="user.ud.getValue()!==undefined">
  <form *ngIf="user.ud.getValue()!==null"
    (ngSubmit)="ok()">
    <div *ngFor="let r of errors">
      <mat-icon color="warn">error</mat-icon> {{e.message}}
    </div>
    <div>
      <mat-form-field>
        <input matInput
          placeholder="ID"
          [(ngModel)]="sn"
          name="sn">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput
          placeholder="名前"
          [(ngModel)]="name"
          name="name">
      </mat-form-field>
    </div>
    <app-md-editor [(ngModel)]="text"
      name="text"></app-md-editor>
    <div>
      <button type="submit"
        mat-raised-button>OK</button>
    </div>
  </form>
  <div *ngIf="user.ud.getValue()===null">
    ログインしないとプロフィール管理は出来ません
  </div>
</mat-card>