<md-card *ngIf="user.ud.getValue()!==undefined">
  <form *ngIf="user.ud.getValue()!==null" (ngSubmit)="ok()">
    <div *ngIf="errorMsg!==null">
      <md-icon>error</md-icon> {{errorMsg}}
    </div>
    <div>
      <md-input-container>
        <input mdInput placeholder="ID" [(ngModel)]="sn" name="sn">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput placeholder="名前" [(ngModel)]="name" name="name">
      </md-input-container>
    </div>
    <app-md-editor [(ngModel)]="text" name="text"></app-md-editor>
    <div>
      <button type="submit" md-raised-button>OK</button>
    </div>
  </form>
  <div *ngIf="user.ud.getValue()===null">
    ログインしないとプロフィール管理は出来ません
  </div>
</md-card>