<md-card *ngIf="user.ud!==null&&user.ud!==undefined">
  <form (ngSubmit)="write()">
    <div *ngIf="errorMsg!==null">
      <md-icon>error</md-icon> {{errorMsg}}
    </div>
    <div>
      <md-select placeholder="種別" [(ngModel)]="type" name="type">
        <md-option [value]="'normal'">
          通常
        </md-option>
        <md-option [value]="'board'">
          板
        </md-option>
      </md-select>
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="タイトル" [(ngModel)]="title" name="title">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="カテゴリ" [(ngModel)]="category" name="category">
      </md-input-container>
    </div>
    <app-md-editor [(ngModel)]="text" name="text"></app-md-editor>
    <div>
      <button type="submit" md-raised-button>書き込む</button>
    </div>
  </form>
</md-card>
<md-card *ngIf="user.ud===null">
  ログインしないと書き込めません
</md-card>