<md-card *ngIf="user.ud!==undefined" class="contents">
  <h1>
    <md-icon *ngIf="topic.type==='one'">looks_one</md-icon>{{topic.title}}</h1>
  <button md-icon-button (click)="detail()">
    <md-icon>{{isDetail?'keyboard_arrow_up':'keyboard_arrow_down'}}</md-icon>
  </button>
  <div *ngIf="isDetail">
    <dl>
      <dt>作成</dt>
      <dd>{{topic.date|atDate}}</dd>
      <dt>更新</dt>
      <dd>{{topic.update|atDate}}</dd>
      <dt>カテゴリ</dt>
      <dd><a [routerLink]="['/topic/search']" [queryParams]="{title:'',category:topic.category.join('/')}">{{topic.category.join('/')}}</a></dd>
      <dt>本文</dt>
      <dd>
        <div [innerHTML]="topic.mdtext|html"></div>
      </dd>
      <ng-container *ngIf="topic.type!=='one'">
        <dt>編集履歴</dt>
        <dd>
          <div class="panel-group">
            <app-topic-history *ngFor="let h of histories" [history]="h" [topic]="topic"></app-topic-history>
          </div>
        </dd>
      </ng-container>
    </dl>
  </div>
  <button md-icon-button *ngIf="user.ud!==null&&topic.type!=='one'" (click)="edit()">
      <md-icon>edit</md-icon>
    </button>
  <app-topic-edit *ngIf="isEdit&&user.ud!==null" [topic]="topic" (update)="update.emit($event)"></app-topic-edit>
</md-card>