<div class="panel panel-default" *ngIf="ud.isToken|async">
    <div class="panel-body">
        <form (ngSubmit)="ok()">
            <div class="alert alert-danger" *ngIf="errorMsg!==null">
                <span class="glyphicon glyphicon-exclamation-sign"></span> {{errorMsg}}
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label>名前</label>
                    <input type="text" class="form-control" [(ngModel)]="name" name="name">
                </div>
                <div class="form-group">
                    <label>プロフ</label>
                    <select [(ngModel)]="profile" class="form-control" name="profile">
                        <option [value]="0" selected>なし</option>
                        <option *ngFor="let p of ud.profiles|async" [value]="p.id">●{{p.id}} {{p.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>本文</label>
                <button type="button" class="btn btn-default btn-xs" (click)="aa()">AA</button>
                <textarea controls [(ngModel)]="text" class="form-control" name="text" (keypress)="key($event)"></textarea>
                <div [innerHTML]="text|md" class="well aa"></div>
            </div>
            <button type="submit" class="btn btn-default">書き込む</button>
        </form>
    </div>
</div>
<div *ngIf="ud.notToken|async">
    ログインしないと書き込めません
</div>