    .res{
      border:solid 1px #999999;
      border-radius: 5px;
      padding:3px;
    }

    .res-pop{
      background-color: #ffffbb;
    }

    .res-self{
      background-color: #dcffdc;
    }

    .res-footer{
      color: #888888;
      font-size:6px;
    }

    .res-button{
      border:solid 1px #999999;
      border-radius: 2px;
      background-color:#ffffff;
    }