<md-card *ngIf="ud!==undefined">
  <md-card-header>
    <md-card-title>
      <a [routerLink]="['/topic',topic.id]">{{topic.title}}</a>
    </md-card-title>
    <md-card-subtitle>
      {{topic.category.join('/')}}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div>
      作成 {{topic.date|date:"y/MM/dd(EEE) HH:mm:ss"}} 更新 {{topic.update|date:"y/MM/dd(EEE) HH:mm:ss"}}
    </div>
    <div>
      総レス数 {{topic.resCount}}
      <span *ngIf="newRes!==null">新着 {{newRes}}</span>
    </div>
  </md-card-content>
</md-card>