<md-dialog-content *ngIf="ud!==undefined">
  <h1>{{topic.title}}</h1>
  <div>
    <dl>
      <dt>作成</dt>
      <dd>{{topic.date|date:"y/MM/dd(EEE) HH:mm:ss"}}</dd>
      <dt>更新</dt>
      <dd>{{topic.update|date:"y/MM/dd(EEE) HH:mm:ss"}}</dd>
      <dt>カテゴリ</dt>
      <dd><a [routerLink]="['/topic/search']" [queryParams]="{title:'',category:topic.category.join('/')}">{{topic.category.join('/')}}</a></dd>
      <dt>本文</dt>
      <dd>
        <div [innerHTML]="topic.mdtext"></div>
      </dd>
      <dt>編集履歴</dt>
      <dd>
        <div class="panel-group">
          <app-topic-history *ngFor="let h of topic.histories" [history]="h" [topic]="topic"></app-topic-history>
        </div>
      </dd>
    </dl>
  </div>
  <button md-icon-button *ngIf="ud!==null" (click)="edit()">
      <md-icon>edit</md-icon>
    </button>
  <app-topic-edit *ngIf="isEdit&&ud!==null" [topic]="topic" (update)="update.emit($event)"></app-topic-edit>
</md-dialog-content>