.tab-nav{
  position: fixed;
  z-index: 999;
  top:0px;
  left:0px;
  right: 0px;
  background-color: #fff;
}

md-icon{
  line-height:48px;
}

[md-tab-nav-bar]{
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

[md-tab-link]{
  display: table-cell;
  vertical-align: middle;
}

#contents{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  margin: 8px;
  
  padding-bottom: 20px;
  padding-top: 64px;
}