<div id="app-root"
  class="mat-app-background">
  <mat-menu #menu="matMenu">
    <button mat-menu-item
      [routerLink]="['/profiles']">プロフ管理</button>
    <button mat-menu-item
      [routerLink]="['/messages']">お知らせ</button>
    <button mat-menu-item
      type="button"
      (click)="changeTheme()">テーマ切り替え</button>
    <button mat-menu-item
      [routerLink]="['/settings/account']">設定</button>
    <a mat-menu-item
      href="https://document.anontown.com/"
      target="_blank">ドキュメント</a>
    <button mat-menu-item
      (click)="logout()">ログアウト</button>
  </mat-menu>

  <nav mat-tab-nav-bar
    class="tab-nav">
    <a matTabLink
      [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </a>
    <a matTabLink
      [routerLink]="['/topic/search']">
      <mat-icon>search</mat-icon>
    </a>
    <a matTabLink
      [routerLink]="['/notifications']"
      *ngIf="user.ud.getValue()!==null">
      <mat-icon>notifications</mat-icon>
    </a>
    <a matTabLink
      *ngIf="user.ud.getValue()!==null"
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </a>
    <a matTabLink
      *ngIf="user.ud.getValue()===null"
      [routerLink]="['/in']">
      ログイン/登録
    </a>
    <a matTabLink
      *ngIf="user.ud.getValue()===null"
      (click)="changeTheme()">
      テーマ切り替え
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>