.tab-nav{
  position: fixed;
  z-index: 999;
  top:0px;
  left:0px;
  right: 0px;
}

[mat-tab-nav-bar]{
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

[matTabLink]{
  display: table-cell;
  vertical-align: middle;
}

#app-root{
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}