<md-menu #menu="mdMenu">
  <button md-menu-item [routerLink]="['/user/profile']">プロフ管理</button>
  <button md-menu-item [routerLink]="['/user/msg']">お知らせ</button>
  <button md-menu-item (click)="logout()">ログアウト</button>
</md-menu>

<nav md-tab-nav-bar class="tab-nav">
  <a md-tab-link [routerLink]="['/favo']" *ngIf="ud.isToken|async">
    <md-icon>star</md-icon>
  </a>
  <a md-tab-link [routerLink]="['/topic/search']" [queryParams]="{title:'',category:''}">
    <md-icon>search</md-icon>
  </a>
  <a md-tab-link [routerLink]="['/user/notice']" *ngIf="ud.isToken|async">
    <md-icon>notifications</md-icon>
  </a>
  <a md-tab-link href="javascript:void(0);" *ngIf="ud.isToken|async" [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </a>
  <a md-tab-link href="javascript:void(0);" *ngIf="ud.notToken|async" (click)="login()">
    ログイン/登録
  </a>
</nav>
<router-outlet></router-outlet>