<div mat-dialog-content>
  <mat-spinner *ngIf="now==='posting'"></mat-spinner>
  <div *ngIf="now==='error'">
    <mat-icon color="warn">error</mat-icon>
    アップロードに失敗しました
  </div>
  <div>
    <button mat-icon-button
      type="button"
      [(colorPicker)]="color"
      [style.color]="color">
      <mat-icon>invert_colors</mat-icon>
    </button>
    <button mat-icon-button
      type="button"
      (click)="undo()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button
      type="button"
      (click)="redo()">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-icon-button
      type="button"
      (click)="ok()">
      <mat-icon>file_upload</mat-icon>
    </button>
  </div>
  <canvas #canvas
    [width]="w"
    [height]="h"
    (mousedown)="mousedown($event)"
    (mouseup)="mouseup()"
    (mousemove)="mousemove($event)"
    (touchstart)="touchstart($event)"
    (touchmove)="touchmove($event)"
    (touchend)="touchend()"></canvas>
</div>