<mat-card *ngIf="user.ud|async">
  <form (ngSubmit)="ok()">
    <div *ngFor="let e of errors">
      <mat-icon color="warn">error</mat-icon> {{e.message}}
    </div>

    <mat-form-field>
      <input matInput
        placeholder="名前"
        [(ngModel)]="name"
        name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput
        placeholder="URL"
        [(ngModel)]="url"
        name="url">
    </mat-form-field>

    <button type="submit"
      mat-button>OK</button>
  </form>
</mat-card>