@mixin app-md-editor-theme($theme){
  app-md-editor{
    textarea,.preview{
        $border-color:mat-color(map-get($theme, foreground),divider);
        border-color:$border-color !important;

        $background-color:mat-color(map-get($theme, background),background);
        background-color: $background-color !important;
    }
  }
}