<div>
  <input type="file" #img>
  <button md-icon-button type="button" (click)="upload()">
    <md-icon>file_upload</md-icon>
  </button>
</div>
<button type="button" (click)="oekaki()">お絵かき</button>
<app-oekaki *ngIf="isOekaki" (ok)="imgur($event)"></app-oekaki>
<md-tab-group (selectChange)="tabChange($event)">
  <md-tab label="Edit">
    <textarea
      #textbox
      mdInput
      (blur)="teblur.emit($event)"
      (focus)="tefocus.emit($event)"
      class="edit"
      controls 
      [(ngModel)]="value" 
      [rows]="5">
    </textarea>
  </md-tab>
  <md-tab label="Preview">
    <div class="preview markdown" [innerHTML]="mdValue|html"></div>
  </md-tab>
</md-tab-group>