<form *ngIf="user.ud|async"
    (ngSubmit)="ok()">
    <div *ngFor="let e of errors">
        <mat-icon color="warn">error</mat-icon> {{e.message}}
    </div>

    <mat-form-field>
        <input matInput
            placeholder="名前"
            [(ngModel)]="name"
            name="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput
            placeholder="url"
            [(ngModel)]="url"
            name="url">
    </mat-form-field>

    <button type="submit"
        mat-button>OK</button>
</form>