@mixin app-res-theme($theme){
  app-res{
    .name-accent{
      $color:mat-color(map-get($theme, accent),0.8);
      color: $color;
    }

    .res-pop,.children-msg{
      $color:mat-color(map-get($theme,warn));
      border-color:$color;
    }

    .res-self{
      $color:mat-color(map-get($theme, primary),0.3);
      background-color: $color;
    }

    .res-reply{
      $color:mat-color(map-get($theme, accent),0.3);
      background-color: $color;
    }

    .is-vote{
      $color:mat-color(map-get($theme, accent));
      color: $color;
    }
  }
}