<mat-menu #menu="matMenu">
  <button *ngIf="isSelf&&res.type==='normal'"
    (click)="del()"
    mat-menu-item>
    削除
  </button>
</mat-menu>

<mat-card [ngClass]="{'res-pop':isPop}"
  class="res-container">
  <div class="res-left">
    <button type="button"
      mat-icon-button
      (click)="uv()"
      [disabled]="isSelf||user.ud.getValue()===null">
      <mat-icon [ngClass]="{'is-vote':res.voteFlag==='uv'}">keyboard_arrow_up</mat-icon>
    </button>
    <button type="button"
      mat-icon-button
      (click)="dv()"
      [disabled]="isSelf||user.ud.getValue()===null">
      <mat-icon [ngClass]="{'is-vote':res.voteFlag==='dv'}">keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <div class="res-right">
    <div [ngClass]="{'res-self':isSelf,'res-reply':res.type==='normal'&&res.isReply&&!isSelf,'res-header':true}">
      <a (click)="isReply=!isReply">
        <span *ngIf="res.type==='normal'&&res.name!==null">{{res.name}}</span>
        <span *ngIf="res.type==='normal'&&res.name===null&&res.profile===null">名無しさん</span>
        <span *ngIf="res.type==='history'"
          class="name-accent">トピックデータ</span>
        <span *ngIf="res.type==='topic'"
          class="name-accent">トピ主</span>
        <span *ngIf="res.type==='fork'"
          class="name-accent">派生トピック</span>
        <span *ngIf="res.type==='delete'"
          class="name-accent">削除</span>
      </a>

      <a *ngIf="res.type==='normal'&&res.profile!==null"
        (click)="profileOpen()">●{{res.profile.sn}}</a>
      <a class="app-link"
        [routerLink]="['/res',res.id]">{{res.date|atDate}}</a>
      <a (click)="hashClick()">
        HASH:{{res.hash.substr(0,6)}}...
      </a>
      <span class="action">
        <span>
          {{res.uv-res.dv}}ポイント
        </span>
        <button type="button"
          mat-icon-button
          [matMenuTriggerFor]="menu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </span>
    </div>
    <div>
      <span class="action">
        <button *ngIf="res.type==='normal'&&res.reply!==null"
          (click)="sendReplyClick()"
          mat-icon-button>
          <mat-icon>send</mat-icon>
        </button>
        <button (click)="receiveReplyClick()"
          *ngIf="res.replyCount!==0"
          mat-icon-button>
          <mat-icon>reply</mat-icon>
          {{res.replyCount}}
        </button>
      </span>
      <app-md *ngIf="res.type==='normal'"
        [text]="res.text"></app-md>
      <app-md *ngIf="res.type==='history'&&historyRes!==null"
        [text]="historyRes.text"></app-md>
      <app-md *ngIf="res.type==='topic'&&topicRes!==null&&topicRes.type==='one'"
        [text]="topicRes.text"></app-md>

      <div *ngIf="res.type==='topic'&&topicRes!==null&&topicRes.type==='fork'">
        <p>
          派生トピックが建ちました。
        </p>
      </div>

      <div *ngIf="res.type==='fork'">
        <p>
          <a [routerLink]="['/topic',res.fork]">派生トピック</a>
        </p>
      </div>

      <div *ngIf="res.type==='delete'&&res.flag==='self'">
        <p>
          投稿者により削除されました。
        </p>
      </div>

      <div *ngIf="res.type==='delete'&&res.flag==='freeze'">
        <p>
          管理人により削除されました。
        </p>
      </div>
    </div>
    <mat-card *ngIf="isReply&&user.ud.getValue()!==null">
      <app-res-write [topic]="res.topic"
        [reply]="res.id"
        (write)="isReply=false"></app-res-write>
    </mat-card>
    <div *ngIf="children.size!==0">
      <mat-card *ngIf="childrenMsg!==null"
        class="children-msg">
        <strong>{{childrenMsg}}</strong>
      </mat-card>
      <app-res *ngFor="let c of children|reverse"
        [res]="c"
        (update)="childrenUpdate($event)"
        [isPop]="true"></app-res>
    </div>
  </div>
</mat-card>