<md-card [ngClass]="{'res-pop':isPop}">
  <div [ngClass]="{'res-self':isSelf,'res-reply':res.isReply&&!isSelf,header:true}">
    <a (click)="reply()" href="javascript:void(0);">{{res.name}}</a>
    <a *ngIf="res.profile!==null" (click)="profileOpen()" href="javascript:void(0);">[プロフィール]</a>

    <span>{{res.date|atDate}}</span>
    <a href="javascript:void(0);" (click)="hashClick()">
      HASH:{{res.hash.substr(0,6)}}...
    </a>
  </div>
  <div>
    <span class="action">
      <button *ngIf="res.reply!==null" (click)="sendReplyClick()" md-icon-button>
        <md-icon>send</md-icon>
      </button>
      <button (click)="receiveReplyClick()" *ngIf="res.replyCount!==0" md-icon-button>
        <md-icon>reply</md-icon>
        {{res.replyCount}}
      </button>
    </span>
    <div [innerHTML]="res.mdtext|html" class="aa"></div>
  </div>
  <div class="res-footer action" *ngIf="user.ud.getValue()!==undefined">
    <span *ngIf="!isSelf&&user.ud.getValue()!==null&&res.voteFlag!==null">
      <button (click)="uv()" md-icon-button>
        <md-icon [ngClass]="{'is-vote':res.voteFlag==='uv'}">thumb_up</md-icon>
      </button>
      <span> {{res.uv-res.dv}}</span>
    <button (click)="dv()" md-icon-button>
        <md-icon [ngClass]="{'is-vote':res.voteFlag==='dv'}">thumb_down</md-icon>
      </button>
    </span>
    <span *ngIf="isSelf||user.ud.getValue()===null||res.voteFlag===null">
      <md-icon class="vote">thumbs_up_down</md-icon> {{res.uv-res.dv}}
    </span>
    <button *ngIf="isSelf&&res.deleteFlag==='active'" (click)="del()" md-icon-button>
      <md-icon>delete</md-icon>
    </button>
  </div>
  <div *ngIf="children.size!==0">
    <md-card *ngIf="childrenMsg!==null">
      <strong>{{childrenMsg}}</strong>
    </md-card>
    <app-res *ngFor="let c of children" [res]="c" (update)="childrenUpdate($event)" [isPop]="true"></app-res>
  </div>
</md-card>