.res-pop,.children-msg{
  border-style: solid;
  border-width: 2px;
}

.vote{
  margin: 6px;
  vertical-align: middle;
}

.action{
  $icon-button-size:16px;
  $icon-size:12px;

  font-size: $icon-size;
  line-height: $icon-size;

  [md-icon-button] {
    width: $icon-button-size;
    height: $icon-button-size;
    line-height: $icon-button-size;
  }

  md-icon{
    font-size: $icon-size;
    line-height: $icon-size;
    display: inline;
  }
}

app-res:first{
  margin-top: 1px;  
}
app-res:last{
  margin-bottom: 1px;
}

md-card{
  padding: 8px;
  margin: 1px;
}

.res-header{
  font-size:0.8em;

  a{
    text-decoration: none;
    &:hover,&:active{
      text-decoration: underline;
    }
  }
}

.res-container{
  display: flex;

  .res-left{
    button{
      display: block;
    }
  }

  .res-right{

  }
}