<md-menu #menu="mdMenu">
  <button *ngIf="isSelf&&res.type==='normal'"
    (click)="del()"
    md-menu-item>
      削除
    </button>
</md-menu>

<md-card [ngClass]="{'res-pop':isPop}"
  class="res-container">
  <div class="res-left">
    <button type="button"
      md-icon-button
      (click)="uv()"
      [disabled]="isSelf||user.ud.getValue()===null">
        <md-icon [ngClass]="{'is-vote':res.voteFlag==='uv'}">keyboard_arrow_up</md-icon>
      </button>
    <button type="button"
      md-icon-button
      (click)="dv()"
      [disabled]="isSelf||user.ud.getValue()===null">
        <md-icon [ngClass]="{'is-vote':res.voteFlag==='dv'}">keyboard_arrow_down</md-icon>
      </button>
  </div>
  <div class="res-right">
    <div [ngClass]="{'res-self':isSelf,'res-reply':res.type==='normal'&&res.isReply&&!isSelf,'res-header':true}">
      <a (click)="isReply=!isReply">
        <span *ngIf="res.type==='normal'&&res.name!==null">{{res.name}}</span>
        <span *ngIf="res.type==='normal'&&res.name===null">名無しさん</span>
        <span *ngIf="res.type==='history'" class="name-accent">トピックデータ</span>
        <span *ngIf="res.type==='topic'" class="name-accent">1</span>
        <span *ngIf="res.type==='fork'" class="name-accent">派生トピック</span>
        <span *ngIf="res.type==='delete'" class="name-accent">削除</span>
      </a>

      <a *ngIf="res.type==='normal'&&profile!==null"
        (click)="profileOpen()">●{{profile.sn}}</a>
      <a class="app-link"
        [routerLink]="['/res',res.id]">{{res.date|atDate}}</a>
      <a (click)="hashClick()">
      HASH:{{res.hash.substr(0,6)}}...
    </a>
      <span class="action">
      <span>
      {{res.uv-res.dv}}ポイント
    </span>
      <button type="button"
        md-icon-button
        [mdMenuTriggerFor]="menu">
      <md-icon>keyboard_arrow_down</md-icon>
    </button>
      </span>
    </div>
    <div>
      <span class="action">
      <button *ngIf="res.type==='normal'&&res.reply!==null" (click)="sendReplyClick()" md-icon-button>
        <md-icon>send</md-icon>
      </button>
      <button (click)="receiveReplyClick()" *ngIf="res.replyCount!==0" md-icon-button>
        <md-icon>reply</md-icon>
        {{res.replyCount}}
      </button>
    </span>
      <div *ngIf="res.type==='normal'"
        [innerHTML]="res.text|md|html"
        class="markdown"></div>

      <div *ngIf="res.type==='history'">

      </div>

      <div *ngIf="res.type==='topic'">

      </div>

      <div *ngIf="res.type==='fork'">
        <a [routerLink]="['/topic',res.fork]">派生トピック</a>
      </div>

      <div *ngIf="res.type==='delete'&&res.flag==='self'">
        投稿者により削除されました。
      </div>

      <div *ngIf="res.type==='delete'&&res.flag==='freeze'">
        管理人により削除されました。
      </div>
    </div>
    <md-card *ngIf="isReply&&user.ud.getValue()!==null">
      <app-res-write [topic]="res.topic"
        [reply]="res.id"
        (write)="isReply=false"></app-res-write>
    </md-card>
    <div *ngIf="children.size!==0">
      <md-card *ngIf="childrenMsg!==null"
        class="children-msg">
        <strong>{{childrenMsg}}</strong>
      </md-card>
      <app-res *ngFor="let c of children|reverse"
        [res]="c"
        (update)="childrenUpdate($event)"
        [isPop]="true"></app-res>
    </div>
  </div>
</md-card>