.res-pop,.children-msg{
  border-style: solid;
  border-width: 2px;
}

.vote{
  margin: 6px;
  vertical-align: middle;
}

.action{
  $icon-button-size:16px;
  $icon-size:12px;

  font-size: $icon-size !important;
  line-height: $icon-size !important;

  [md-icon-button] {
    width: $icon-button-size !important;
    height: $icon-button-size !important;
    line-height: $icon-button-size !important;
  }

  md-icon{
    font-size: $icon-size !important;
    line-height: $icon-size !important;
    display: inline !important;
  }
}

app-res:first{
  margin-top: 1px;  
}
app-res:last{
  margin-bottom: 1px;
}

md-card{
  padding: 12px;
  margin: 1px;
}

.header{
  padding: 2px;

  a{
    text-decoration: none;
    &:hover,&:active{
      text-decoration: underline;
    }
  }
}