<app-page>
  <div *ngIf="user.ud.getValue()!==null&&user.ud.getValue()!==undefined">
    <div>
      <button (click)="readNew()"
        md-raised-button>最新</button>
    </div>
    <div>
      <md-card *ngFor="let m of msgs">
        <div class="header">{{m.date|atDate}}</div>
        <app-md [text]="m.text"></app-md>
      </md-card>
    </div>
    <div>
      <button (click)="readOld()"
        md-raised-button>前</button>
    </div>
  </div>
  <md-card *ngIf="user.ud.getValue()===null&&user.ud.getValue()!==undefined">
    ログインしてください。
  </md-card>
</app-page>