<md-card>
    <h1>匿名掲示板Anontownへようこそ</h1>
    2chの不便な点を改善した掲示板です。<br> 登録は10秒で終わります。メアドなどは一切不要です。
    <br> 専ブラなどのクライアントソフトも不要な為すぐに使い始めることが出来ます。
    <br> まずは
    <a href="https://kgtkr.gitbooks.io/anontown/content/">ドキュメント</a>を読んで下さい。<br> ※当サイトは無断転載禁止です<br><br>
    <span style="color:red;">※2chのなんJ/穴実でのマルチポストスレ荒らしについて</span>
<br> 現在なんJ/穴実で以下のような内容の文章を無差別に書き込み、荒らしている人がいます。
<div>
    >>1-9<br> (板名)民の二人に一人がやっている掲示板Anontownを始めよう
    <br> https://anontown.com/
</div>
この荒らしには管理人は一切関わっていません。<br> 管理人の2chでのトリップ→at ◆nZmkazVYrM
</md-card>