<md-card *ngIf="user.ud!==undefined">
  <button md-icon-button *ngIf="user.ud!==null" (click)="favo()">
    <md-icon>{{isFavo?'star':'star_border'}}</md-icon>
  </button>
  <div>
    <div>
      <md-input-container>
        <input md-input placeholder="カテゴリ" [(ngModel)]="form.category" name="category" (input)="formChangeObs.next()">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="タイトル" [(ngModel)]="form.title" name="title" (input)="formChangeObs.next()">
      </md-input-container>
    </div>
    <div>
      <md-checkbox [(ngModel)]="form.dead" name="dead" (change)="formChangeObs.next()">過去ログも</md-checkbox>
    </div>
  </div>
</md-card>
<md-card *ngIf="board" class="board">
  <h1><a [routerLink]="['/topic',board.id]">{{board.title}}</a></h1>
  <div [innerHTML]="board.mdtext|html"></div>
</md-card>
<div>
  <button md-icon-button [routerLink]="['/topic/write']" *ngIf="user.ud!==null">
    <md-icon>edit</md-icon>
  </button>
  <button md-icon-button (click)="update()">
    <md-icon>refresh</md-icon>
  </button>
</div>
<div>
  <app-topic-list-item *ngFor="let t of topics" [topic]="t"></app-topic-list-item>
</div>
<div *ngIf="count===limit">
  <button (click)="more()" md-raised-button>もっと</button>
</div>