<app-page>
  <mat-card *ngIf="user.ud.getValue()!==undefined">
    <button mat-icon-button
      *ngIf="user.ud.getValue()!==null"
      (click)="favo()">
      <mat-icon>{{isFavo?'star':'star_border'}}</mat-icon>
    </button>
    <div>
      <div>
        <app-tags-input name="tags"
          [(ngModel)]="tags"
          (ngModelChange)="formChangeObs.next()"></app-tags-input>
      </div>
      <div>
        <mat-form-field>
          <input matInput
            placeholder="タイトル"
            [(ngModel)]="form.title"
            name="title"
            (input)="formChangeObs.next()">
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="form.dead"
          name="dead"
          (change)="formChangeObs.next()">過去ログも</mat-checkbox>
      </div>
    </div>
  </mat-card>
  <div>
    <button mat-icon-button
      [routerLink]="['/topic/create']"
      *ngIf="user.ud.getValue()!==null">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button
      (click)="update()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div>
    <app-topic-list-item *ngFor="let t of topics"
      [topic]="t"></app-topic-list-item>
  </div>
  <div *ngIf="count===limit">
    <button (click)="more()"
      mat-raised-button>もっと</button>
  </div>
</app-page>