<md-card *ngIf="user.ud.getValue()!==undefined">
  <md-card-header>
    <md-card-title>●{{profile.sn}}</md-card-title>
  </md-card-header>
  <md-card-actions>
    <button md-icon-button (click)="edit()">
      <md-icon>edit</md-icon>
    </button>
  </md-card-actions>

  <form *ngIf="isEdit" (ngSubmit)="ok()">
    <div *ngIf="errorMsg!==null">
      <md-icon>error</md-icon> {{errorMsg}}
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="ID" [(ngModel)]="sn" name="sn">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="名前" [(ngModel)]="name" name="name">
      </md-input-container>
    </div>
    <app-md-editor [(ngModel)]="text" name="text"></app-md-editor>
    <div>
      <button type="submit" md-button>OK</button>
    </div>
  </form>
</md-card>