<mat-card *ngIf="user.ud.getValue()!==undefined">
  <mat-card-header>
    <mat-card-title>●{{profile.sn}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-icon-button
      (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>

  <form *ngIf="isEdit"
    (ngSubmit)="ok()">
    <div *ngFor="let e of errors">
      <mat-icon color="warn">error</mat-icon> {{e.message}}
    </div>
    <div>
      <mat-form-field>
        <input matInput
          placeholder="ID"
          [(ngModel)]="sn"
          name="sn">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput
          placeholder="名前"
          [(ngModel)]="name"
          name="name">
      </mat-form-field>
    </div>
    <app-md-editor [(ngModel)]="text"
      name="text"></app-md-editor>
    <div>
      <button type="submit"
        mat-button>OK</button>
    </div>
  </form>
</mat-card>