<md-card *ngIf="ud!==undefined">
  <div>
    <md-icon *ngIf="newRes!==null&&newRes!==0">fiber_new</md-icon>
    <a [routerLink]="['/topic',topic.id]">{{topic.title}}</a>
  </div>
  <div class="data">
    <div class="category">
      {{topic.category.join('/')}}
    </div>
    <div>
      作成 {{topic.date|date:"y/MM/dd(EEE) HH:mm:ss"}} 更新 {{topic.update|date:"y/MM/dd(EEE) HH:mm:ss"}}
    </div>
    <div>
      総レス数 {{topic.resCount}}
      <span *ngIf="newRes!==null">新着 {{newRes}}</span>
    </div>
  </div>
</md-card>