/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
  padding-bottom: 20px;
    padding-top: 64px;
}

.loading{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.aa code{
  font-family:'ＭＳ Ｐゴシック','ＭＳＰゴシック','MSPゴシック','MS Pゴシック';
  font-size:16px;
  line-height:18px;
}

img{
  width:auto;
  height:auto;
  max-width:50vw;
  max-height:60vw;
}


md-card,md-card-header,md-card-content,md-card-actions,md-card-title,md-card-subtitle{
  margin: 2px !important;
  padding: 2px !important;
}

md-card-header,md-card-title,md-card-subtitle {
  height: auto !important;
}

md-card-header>div{
  height: auto !important;
}