/* You can add global styles to this file, and also import other style files */
html{
  overflow-y: hidden;
}

#main{
  height: 100%;
  overflow:auto;
}

.loading{
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

color-picker>div{
    top:10px !important;
    left:10px !important;
}

app-page>.app-page-contents{
    position: absolute;
    top:59px;
    bottom: 0px;
    right: 0px;
    left: 0px;


    @import './app/styles/scroll.scss';
    &.one{
        @include scroll();
    }

    &.two{
        display: flex;
        @media screen and (max-width: 767px) {
            &>aside {
                display: none;
            }
        }
        &>aside {
            width: 30vw;
            @include scroll();
        }

        &>main {
            flex: 1;
            @include scroll();
        }
    }
}