/* You can add global styles to this file, and also import other style files */
.loading{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

body{
  background-color: #ddffdd;
}

html{
  overflow-y: hidden;
}

#main{
  height: 100%;
  overflow:auto;
}

color-picker>div{
    top:10px !important;
    left:10px !important;
}


@import './app/styles/page.scss';

app-page>.app-page-contents{
    position: absolute;
    top:59px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    &.one{
        @include scroll();
    }

    &.two{
        display: flex;
        @media screen and (max-width: 767px) {
            &>aside {
                display: none;
            }
        }
        &>aside {
            @include scroll();
            width: 30vw;
        }

        &>main {
            @include scroll();
            flex: 1;
        }
    }
}