@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-green, 500);
$accent:  mat-palette($mat-light-blue, 500);
$warn:    mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);