@import '~@angular/material/theming';
@mixin theme($theme){
    a.app-link{
        @import './app/styles/link-color.scss';
        @include link-color();
    }
    @include angular-material-theme($theme);

    @import './app/components/_components-theme.scss';
    @include app-components-theme($theme);

    @import './app/dialogs/_dialogs-theme.scss';
    @include app-dialogs-theme($theme);
}

@include mat-core();

@mixin light-theme(){
    $primary: mat-palette($mat-green);
    $accent:  mat-palette($mat-light-blue);
    $warn:    mat-palette($mat-red);
    $theme: mat-dark-theme($primary, $accent, $warn);
    @include theme($theme);
}


@mixin dark-theme(){
    $primary: mat-palette($mat-green);
    $accent:  mat-palette($mat-light-blue);
    $warn:    mat-palette($mat-red);
    $theme: mat-dark-theme($primary, $accent, $warn);
    @include theme($theme);
}

@include dark-theme();