<app-page>
  <mat-card>
    <form (ngSubmit)="ok()">
      <div *ngFor="let e of errors">
        <mat-icon color="warn">error</mat-icon> {{e.message}}
      </div>

      <mat-form-field>
        <input matInput
          placeholder="ID"
          [(ngModel)]="sn"
          name="sn">
      </mat-form-field>
      <mat-form-field>
        <input matInput
          type="password"
          placeholder="Pass"
          [(ngModel)]="pass"
          name="pass">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="ログイン/登録"
          [(ngModel)]="isLogin"
          name="isLogin">
          <mat-option [value]="true">
            ログイン
          </mat-option>
          <mat-option [value]="false">
            登録
          </mat-option>
        </mat-select>
      </mat-form-field>

      <re-captcha *ngIf="!isLogin"
        site_key="{{siteKey}}"></re-captcha>

      <button type="submit"
        mat-button>OK</button>
    </form>
  </mat-card>
</app-page>