<md-card>
  <div>
    <div>
      R:<md-slider [(ngModel)]="color.r" [min]="0" [max]="255" [step]="1"></md-slider>
    </div>
    <div>
      G:<md-slider [(ngModel)]="color.g" [min]="0" [max]="255" [step]="1"></md-slider>
    </div>
    <div>
      B:<md-slider [(ngModel)]="color.b" [min]="0" [max]="255" [step]="1"></md-slider>
    </div>
  </div>
  <div>
    <button md-icon-button type="button" (click)="undo()">
      <md-icon>undo</md-icon>
    </button>
    <button md-icon-button type="button" (click)="redo()">
      <md-icon>redo</md-icon>
    </button>
  </div>
  <canvas
    #canvas
    [width]="w"
    [height]="h"
    (mousedown)="mousedown($event)"
    (mouseup)="mouseup()"
    (mousemove)="mousemove($event)"
    (touchstart)="touchstart($event)"
    (touchmove)="touchmove($event)"
    (touchend)="touchend()"
    ></canvas>
  <button type="button" md-button (click)="clickOK()">OK</button>
</md-card>