<div *ngIf="user.ud.getValue()!==null&&user.ud.getValue()!==undefined">
  <form (ngSubmit)="ok()">
    <div *ngFor="let e of errors">
      <mat-icon color="warn">error</mat-icon> {{e.message}}
    </div>
    <mat-form-field>
      <input matInput
        placeholder="名前"
        [(ngModel)]="name"
        name="name">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="age"
      name="age">age</mat-checkbox>
    <mat-select placeholder="プロフ"
      [(ngModel)]="profile"
      name="profile">
      <mat-option [value]="null"
        selected>
        なし
      </mat-option>
      <mat-option *ngFor="let p of profiles"
        [value]="p.id">
        ●{{p.sn}} {{p.name}}
      </mat-option>
    </mat-select>
    <div>
      <app-md-editor [(ngModel)]="text"
        name="text"
        (keypress)="key($event)"
        [maxRows]="5"
        [minRows]="1">
      </app-md-editor>
      <button type="submit"
        mat-icon-button>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </form>
</div>
<div *ngIf="user.ud.getValue()===null">
  ログインしないと書き込めません
</div>