<div *ngIf="user.ud.getValue()!==null&&user.ud.getValue()!==undefined">
  <form (ngSubmit)="ok()">
    <div class="reply" *ngIf="reply">
      リプライ先
      <button (click)="reply=null" md-icon-button>
      <md-icon>close</md-icon>
    </button>
      <app-res [res]="reply"></app-res>
    </div>
    <div *ngFor="let e of errors">
      <md-icon>error</md-icon> {{e.message}}
    </div>
    <div>
      <md-input-container>
        <input mdInput placeholder="名前" [(ngModel)]="name" name="name">
      </md-input-container>
      <md-checkbox [(ngModel)]="age" name="age">age</md-checkbox>
      <md-select placeholder="プロフ" [(ngModel)]="profile" name="profile">
        <md-option [value]="null" selected>
          なし
        </md-option>
        <md-option *ngFor="let p of user.ud.getValue().profiles" [value]="p.id">
          ●{{p.sn}} {{p.name}}
        </md-option>
      </md-select>
      <app-md-editor [autofocus]="true" teblur [(ngModel)]="text" name="text" (keypress)="key($event)">
      </app-md-editor>
      <button type="submit" md-raised-button>書き込む</button>
    </div>
  </form>
</div>
<div *ngIf="user.ud.getValue()===null">
  ログインしないと書き込めません
</div>