<div *ngIf="user.ud!==null&&user.ud!==undefined">
  <form (ngSubmit)="ok()">
    <div *ngIf="errorMsg!==null">
      <md-icon>error</md-icon> {{errorMsg}}
    </div>
    <div>
      <md-input-container>
        <input md-input placeholder="名前" [(ngModel)]="name" name="name">
      </md-input-container>
      <md-checkbox [(ngModel)]="age" name="age">age</md-checkbox>
      <md-select placeholder="プロフ" [(ngModel)]="profile" name="profile">
        <md-option [value]="null" selected>
          なし
        </md-option>
        <md-option *ngFor="let p of user.ud.profiles" [value]="p.id">
          ●{{p.sn}} {{p.name}}
        </md-option>
      </md-select>
    </div>
    <div>
      <md-slide-toggle name="markdown" [(ngModel)]="markdown">Markdown</md-slide-toggle>
    </div>
    <app-md-editor teblur *ngIf="markdown" [(ngModel)]="text" name="text" (keypress)="key($event)">
    </app-md-editor>
    <md-textarea *ngIf="!markdown" [(ngModel)]="text" name="text" (keypress)="key($event)" style="width:100%;" [rows]="5">
</md-textarea>
<div>
  <button type="submit" md-raised-button>書き込む</button>
</div>
</form>
</div>
<div *ngIf="user.ud===null">
  ログインしないと書き込めません
</div>